body {background-color: #EFF0F3}

.container {
  margin-top: 50px;
  width: 25%;
}

form {
  background: #2FCC9A;
  border: 2px solid #228e6c;
  border-radius: 30px;
  padding: 5px 1px;
}

#task {
  width: 60%;
  float: left;
  margin-right: 5%;
}