body {background-color: #EFF0F3}

.container {
  margin-top: 50px;
  width: 25%;
}

form {
  background: #005519;
  border: 5px solid #cedd00;
  border-radius: 10px;
  padding: 20px 10px;
}

#task {
  width: 60%;
  float: left;
  margin-right: 5%;
}